{% extends "common.html" %}
{% block content %}
<div class="row mt-5 mb-1">
    <div class="col-1"></div>
    <div class="col-md-3 chat-list vanish">
        <div class="name">
            <div class="row" style="height: 10vh;">
                <div class="col-9 d-flex" style="margin-top: 4vh;">
                    <h4>NexTalk</h4>
                </div>
                <div class="col-3  d-flex justify-content-center" style="margin-top: 3vh;">
                    <a href="logout" class="btn btn-light"
                        style="color:#0d3b66;font-family: Verdana, Geneva, Tahoma, sans-serif;padding-top: 1.2vh;height: 6vh;"
                        onMouseOver="this.style.background='#0d3b66',this.style.color='white',this.style.border='3px #8ecae6 double'"
                        onMouseOut="this.style.background='',this.style.color='#0d3b66',this.style.border='none'">
                        Logout
                        </span></a>
                </div>
            </div>
            <hr>
        </div>
        <div class="chat-id">
            <div class="row">
                {% for thread in Threads %}
                {% if thread.first_person.username == request.user.username %}
                <div class="col-12">
                    <a href="{% url "room" thread.id %}" class="room-names">
                        <span>{{ thread.second_person.username }}</span>
                    </a>
                </div>
                {% else %}
                <div class="col-12">
                    <a href="{% url "room" thread.id %}" class="room-names">
                        <span>{{ thread.first_person.username }}</span>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-11 col-md-8 col-md-8">
            <div class="head">
                <div class="row">
                    <div class="col-2 col-lg-1 d-flex justify-content-center">
                        <a href="home">
                            <svg class="back-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                                <path class="icon-path" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64" />
                                <path class="icon-path"
                                    d="m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312z" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-8 col-lg-10 d-flex justify-content-center align-items-center">
                        {% for i in thread %}
                        {% if i.second_person.username == request.user.username %}
                        <h5 class="head-name">{{i.first_person}}</h5>
                        {% else %}
                        <h5 class="head-name">{{i.second_person}}</h5>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-2 col-lg-1 d-flex justify-content-center">
                        <svg class="back-icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.001 7.8a2.2 2.2 0 1 0 0 4.402A2.2 2.2 0 0 0 10 7.8zm0-2.6A2.2 2.2 0 1 0 9.999.8a2.2 2.2 0 0 0 .002 4.4zm0 9.6a2.2 2.2 0 1 0 0 4.402a2.2 2.2 0 0 0 0-4.402z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="chat-msg" id="chat-ht">
                {% for i in msg %}
                {% if i.sended_by.username == request.user.username %}
                <div class="row">
                    <div class="col-4 col-md-6"></div>
                    <div class="col-8 col-md-6">
                        <div class="card"
                            style="margin: 2.3vh 0 0 2vh;border-radius:2vh;width: fit-content;float: right;background: #0d3b66;color: white;">
                            <div class="card-body" style="padding: 0.2rem 1rem 0 1rem ;height: fit-content;">
                                <h5 style="margin-top: 0.5rem;font-size: medium;margin-bottom: 0;">{{i.message}}</h5>
                                <span
                                    style="font-size: xx-small;padding-top: -1rem;margin-top: -1rem;">{{i.timestamp|date:"d D" }},{{i.timestamp|time:"H:i"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if i.sended_to.username == request.user.username %}
                <div class="row">
                    <div class="col-8 col-md-6">
                        <div class="card"
                            style="margin: 2.3vh 0 0 2vh;border-radius:2vh;width: fit-content;">
                            <div class="card-body" style="padding: 0.2rem 1rem 0 1rem ;height: fit-content;">
                                <h5 style="margin-top: 0.5rem;font-size: medium;margin-bottom: 0;">{{i.message}}</h5>
                                <span
                                    style="font-size: xx-small;padding-top: -1rem;margin-top: -1rem;">{{i.timestamp|date:"d D" }},{{i.timestamp|time:"H:i"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div id="chat-msg" style="margin-bottom: 1.5vh;"></div>
            </div>
            <form id="sendForm">
                <div class="input">
                    <div class="row">
                        <div class="col-10 col-md-11">
                            <input type="hidden" id="user-name" value="{{request.user.username}}">
                            <input type="text" id="input-message" placeholder="Message">
                        </div>
                        <div class="col-1 d-flex justify-content-center">
                            <button class="send-button" type="submit">
                                <svg class="send-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <path class="icon-path"
                                        d="m27.45 15.11l-22-11a1 1 0 0 0-1.08.12a1 1 0 0 0-.33 1L6.69 15H18v2H6.69L4 26.74A1 1 0 0 0 5 28a1 1 0 0 0 .45-.11l22-11a1 1 0 0 0 0-1.78Z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>
{% endblock content %}

{% block scripts %}
{% for i in thread %}
{{i.id|json_script:"json-trid"}}
{% if i.first_person.username == request.user.username %}
{{i.second_person.username|json_script:"json-toname"}}
{{i.second_person.id|json_script:"json-roomname"}}
{% else %}
{{i.first_person.username|json_script:"json-toname"}}
{{i.first_person.id|json_script:"json-roomname"}}
{% endif %}
{% endfor %}
{{request.user.username|json_script:"json-username"}}
{{request.user.id|json_script:"json-userid"}}
<script>
    let threadid = JSON.parse(document.getElementById('json-trid').textContent);
    let roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    let ToName = JSON.parse(document.getElementById('json-toname').textContent);
    let userName = JSON.parse(document.getElementById('json-username').textContent);
    let userId = JSON.parse(document.getElementById('json-userid').textContent);
    let input_message = $('#input-message')
    let msg_body = $('#chat-msg')
    let sendForm = $('#sendForm')
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/' + roomName
    );
    chatSocket.onopen = async function (e) {
        console.log('open', e)
        sendForm.on('submit', function (e) {
            e.preventDefault()
            let message = input_message.val()
            let data = {
                'message': message,
                'username': userName,
                'msgto': ToName,
                'threadid': threadid,
                'uid': userId
            }
            data = JSON.stringify(data)
            chatSocket.send(data)
            input_message.val('');
            return false;
        })
    }
    chatSocket.onmessage = async function (e) {
        console.log('message', e)
        const data = JSON.parse(e.data);
        let message = data['message']
        let uname = data['username']
        if (message) {
            if (uname == userName) {
                let msg_element = '<div class="row">'
                msg_element += '<div class="col-4 col-md-6"></div>'
                msg_element += '<div class="col-8 col-md-6"><div class="card" style="margin: 2.3vh 0 0 2vh;border-radius:2vh;width: fit-content;float: right;background: #0d3b66;color: white;">'
                msg_element += '<div class="card-body" style="padding: 0.2rem 1rem;height: fit-content;"><h5 style="margin-top: 0.5rem;font-size: medium;margin-bottom: 0;">' + message + '</h5>'
                msg_element += '<span style="font-size: xx-small;padding-top: -1rem;margin-top: -1rem;">Just now</div>'
                msg_element += '</div></div></div>'
                document.querySelector('#chat-msg').innerHTML += msg_element;
                scrollToBottom();
            } else {
                let msg_element = '<div class="row">'
                msg_element += '<div class="col-8 col-md-6"><div class="card"style="margin: 2.3vh 0 0 2vh;border-radius:2vh;width: fit-content;">'
                msg_element += '<div class="card-body" style="padding: 0.2rem 1rem;height: fit-content;"><h5 style="margin-top: 0.5rem;font-size: medium;margin-bottom: 0;">' + message + '</h5>'
                msg_element += '<span style="font-size: xx-small;padding-top: -1rem;margin-top: -1rem;">Just now</div>'
                msg_element += '</div></div></div>'
                document.querySelector('#chat-msg').innerHTML += msg_element;
                scrollToBottom();
            }
        } else {
            alert('The message is empty');
        }
    }
    chatSocket.onclose = async function (e) {
        console.log('close', e)
    }
    function scrollToBottom() {
        let objDiv = document.querySelector("#chat-ht");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    scrollToBottom();
</script>
{% endblock scripts %}