{% extends "common.html" %}
{% block content %}
<div class="row mt-5 mb-1">
    <div class="col-1"></div>
    <div class="col-11 col-md-3 chat-list">
        <div class="name">
            <div class="row" style="height: 10vh;">
                <div class="col-9 d-flex" style="margin-top: 4vh;">
                    <h4>NexTalk</h4>
                </div>
                <div class="col-3  d-flex justify-content-center" style="margin-top: 3vh;">
                    <a href="logout" class="btn btn-light"
                        style="color:#0d3b66;font-family: Verdana, Geneva, Tahoma, sans-serif;padding-top: 1.2vh;height: 6vh;"
                        onMouseOver="this.style.background='#0d3b66',this.style.color='white',this.style.border='3px #8ecae6 double'"
                        onMouseOut="this.style.background='',this.style.color='#0d3b66',this.style.border='none'">
                        Logout
                        </span></a>
                </div>
            </div>
            <hr>
        </div>
        <div class="chat-id">
            {% for thread in Threads %}
            {% if thread.first_person.username == request.user.username %}
            <a href="{% url "room" thread.id %}" class="room-names">
                <div class="chat-names"><span>{{ thread.second_person.username }}</span></div>
            </a>
            {% else %}
            <a href="{% url "room" thread.id %}" class="room-names">
                <div class="chat-names"><span>{{ thread.first_person.username }}</span></div>
            </a>    
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8 vanish">
        <div class="home-tag d-flex justify-content-center align-items-center">
            <h5 class="home-text">Click on the chat to load chats.....</h5>
        </div>
    </div>
</div>
{% endblock content %}